/*
 Author: Fuad Mahmud;
 Theme: Food Order Website;
 Version: 1.0;
*/


* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.menu {
    border-bottom: 1px solid gray;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    padding: 1%;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu li a:hover {
    color: #e74c3c;
}

.main-content {
    background-color: #f1f2f6;
    padding: 3% 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.col-4 {
    width: 20%;
    background-color: white;
    padding: 1%;
    margin: 1%;
    float: left;
}


.footer {
    background-color: #e74c3c;
}